.content-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 463px;
}

.report {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .report-header {
    padding: .5em;
    .report-title {
      font-size: 1.8em;
    }
    .report-subtitle {
      font-style: italic;
    }
  }
  .report-body {
    padding: .5em;
  }
  .report-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: .5em;
  }
}

.graph {
  width: 792.6px;
  height: 340px;
  background: antiquewhite;
}

.report-meta {
  display: flex;
  flex: 1;
  padding: 1em;
}

.budget-attributes {
  margin-top: 45px;
  width: 100%;
}

.budget-attributes-title {
  font-weight: bold;
  font-size: 1.3em;
}

.budget-attributes-labels {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(204, 204, 204, 0.15);
  border: solid 1px rgba(151, 151, 151, 0.25);
  cursor: pointer;
  .budget-attribute {
    text-transform: uppercase;
    margin: auto;
    &.selected {
      border-radius: 3px;
      background-color: $color1;
      border: solid 1px #5b5e74;
      color: white;
      font-weight: bold;
      padding: .1em .8em;
    }
  }
}