.content-footer {
  border: solid 1px $border-color;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 20%;
}

.information {
  padding: 1em;   
  .information-title {
    font-size: 1.3em;
    font-weight: bold;
  }
  .information-content {
    background-color: rgba(204, 204, 204, 0.3);
    border: solid 1px $border-color;
    padding: .5em;
    margin-top: .5em;
  }
}