html,
body,
main {
  width: 100%;
  height: 100%;
  font-family: "PT Sans"
}

#main-container {
  height: inherit;
  &>div {
    height: inherit;
  }
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.hr {
  border-right: solid 1px $border-color;
}

.btn-bat {
  background-color: $color1;
  color: white;
  font-weight: bold;
}

@import "side-nav";
@import "content";