html,
body,
main {
  width: 100%;
  height: 100%;
  font-family: "PT Sans"
}

#main-container {
  height: inherit;
  &>div {
    height: inherit;
  }
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.side-nav {
  display: flex;
  flex-direction: column;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: $color1;
  width: 20%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-info {
  width: 100%;
  .project-title{
    font-weight: 600;
    font-size: 1.5em;
  }
  .project-description {
    border-radius: .3em;
    background-color: $color2;
    border: solid 1px $color2;
    padding: 0.3em;
    min-height: 70px;
    max-height: 90px;
  }
}

.search-box {
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color2;
  input {
    width: 100%;
    border-radius: 0.3em;
    border: solid 1px #9b9b9b;
    font-style: italic;
    color: black;
  }
}

.indicator {
  min-height: 70%;
  border: solid 1px #525468;
  width: 100%;
  display: flex;
  margin-top: .5em;
  flex-direction: column;
  justify-content: flex-start; 
  .indicator-title {
    background-color: #ededed;
    padding: .2em .5em;
    font-size: 1.2em;
    color: #4a4a4a;
    .indicator-title-text {
      font-size: 1em;
      color: #4a4a4a;
    }
  }
  .indicator-list{
    background-color: rgb(255, 255, 255);
    color: #707491;
    .indicator-list-item {
      padding: .5em;
    }
  }
}

.credits {
  width: 100%;
  margin-top: .3em;
  background-color: $color2;
  border: solid 1px $color2;
  border-radius: .3em;
  .credits-links,
  .credits-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.query-selector {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.states {
  background-color: #ffffff;
  border: solid 1px #979797;
  padding: .5em;
  width: 25%;
    height: 100%;
  .states-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    .states-header-title {
      font-size: 1.3em;
    }
  }
  .states-selected {
    background-color: rgba(151, 151, 151, 0.4);
    border: solid 1px #979797;
    height: 70%;
    padding: .2em;
    margin-top: .5em;
    .states-selected-inactive {
      font-style: italic;
    }
  }
}

.visual {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 463px;
}

.report {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: solid 1px #979797;
  justify-content: space-between;
  .report-header {
    padding: .5em;
    .report-title {
      font-size: 1.8em;
    }
    .report-subtitle {
      font-style: italic;
    }
  }
  .report-body {
    padding: .5em;
  }
  .report-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: .5em;
  }
}

.graph {
  width: 792.6px;
  height: 340px;
  background: antiquewhite;
}

.meta {
  width: 20%;
  border: solid 1px #979797;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  .meta-info {
    border-radius: .3em;
    background-color: rgba(204, 204, 204, 0.3);
    border: solid 1px #979797;
    padding: .5em;
    width: 100%;
    .meta-info-title {
      font-size: 1.3em;
    }
  }
}

.information-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 20%;
}

.information {
  padding: 1em;
  border: solid 1px #979797;     
  .information-title {
    font-size: 1.3em;
  }
  .information-content {
    background-color: rgba(204, 204, 204, 0.3);
    border: solid 1px #979797;
    padding: .5em;
    margin-top: .5em;
  }
}