.side-nav {
  display: flex;
  flex-direction: column;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: $color1;
  width: 20%;
}

.project-info {
  width: 100%;
  .project-title{
    font-weight: 600;
    font-size: 1.5em;
  }
  .project-description {
    border-radius: .3em;
    background-color: $color2;
    border: solid 1px $color2;
    padding: 0.3em;
    min-height: 70px;
    max-height: 90px;
  }
}

.search-box {
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color2;
  input {
    width: 100%;
    border-radius: 0.3em;
    border: solid 1px #9b9b9b;
    font-style: italic;
    color: black;
  }
}

.indicator {
  height: 70%;
  border: solid 1px #525468;
  width: 100%;
  display: flex;
  margin-top: .5em;
  flex-direction: column;
  justify-content: flex-start; 
  .indicator-title {
    background-color: #ededed;
    padding: .2em .5em;
    font-size: 1.2em;
    color: #4a4a4a;
    .indicator-title-text {
      font-size: 1em;
      color: #4a4a4a;
    }
  }
  .indicator-list{
    background-color: rgb(255, 255, 255);
    color: #707491;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    padding: 0;
    .indicator-list-item {
      padding: .5em;
    }
  }
}

.credits {
  width: 100%;
  margin-top: .3em;
  background-color: $color2;
  border: solid 1px $color2;
  border-radius: .3em;
  .credits-links,
  .credits-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}