.state-selector {
  width: 100%;
}

.states {
  background-color: #ffffff;
  padding: .5em;
  width: 100%;
  height: 100%;
  .states-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    .states-header-title {
      font-size: 1.3em;
    }
  }
  .states-selected {
    height: 70%;
    padding: .2em;
    margin-top: .5em;
    .states-selected-inactive {
      font-style: italic;
    }
  }
}

.state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 1em;
  padding: .3em;
  margin-bottom: .2em;
  .state-content {
    .state-avtar {
      background-color: #356EA0;
      padding: 0 .4em;
      border-radius: 1em;
      color: white;
      margin: 0 .2em 0 0;
    }
  }
  .state-remove {
    padding: 0 .2em 0 0;
    cursor: pointer;
  }
}